{% load static %}

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Devcamtude</title>  

    <link rel="stylesheet" href="{% static 'website/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'website/css/unicons.css' %}">
    <link rel="stylesheet" href="{% static 'website/css/owl.carousel.min.css' %}">
    <link rel="stylesheet" href="{% static 'website/css/owl.theme.default.min.css' %}">

    <!-- MAIN STYLE -->
    <link rel="stylesheet" href="{% static 'website/css/tooplate-style.css' %}"> 
    
<!--

Tooplate 2115 Marvel

https://www.tooplate.com/view/2115-marvel

-->
  </head>
  <body>

    <!-- MENU -->
    <nav class="navbar navbar-expand-sm navbar-light">
        <div class="container">
            <a class="navbar-brand" href="index.html"><i class='uil uil-user'></i> Devcamtude</a>

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
                <span class="navbar-toggler-icon"></span>
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav mx-auto">
                    <li class="nav-item">
                        <a href="#about" class="nav-link"><span data-hover="About">About</span></a>
                    </li>
                    <li class="nav-item">
                        <a href="#project" class="nav-link"><span data-hover="Projects">Projects</span></a>
                    </li>
                    <li class="nav-item">
                        <a href="#resume" class="nav-link"><span data-hover="Resume">Resume</span></a>
                    </li>
                    <li class="nav-item">
                        <a href="#contact" class="nav-link"><span data-hover="Contact">Contact</span></a>
                    </li>
                </ul>

                <ul class="navbar-nav ml-lg-auto">
                    <div class="ml-lg-4">
                      <div class="color-mode d-lg-flex justify-content-center align-items-center">
                        <i class="color-mode-icon"></i>
                        Color mode
                      </div>
                    </div>
                </ul>
            </div>
        </div>
    </nav>
   
    <!-- ABOUT -->
    <section class="about full-screen d-lg-flex justify-content-center align-items-center" id="about">
        <div class="container">
            <div class="row">

                <div class="col-lg-7 col-md-12 col-12 d-flex align-items-center">
                    <div class="about-text">
                        <small class="small-text">Welcome to <span class="mobile-block">my portfolio website!</span></small>
                        <h1 class="animated animated-text">
                            <span class="mr-2">Hey folks, I'm</span>
                                <div class="animated-info">
                                    <span class="animated-item">Devcamtude</span>
                                    <span class="animated-item">a Developer</span>
                                </div>
                        </h1>

                        <p>I create and maintain software documentation, integrate data from various backend end services and databases using Django.</p>
                        
                        <div class="custom-btn-group mt-4">
                          <a href="https://drive.google.com/drive/folders/1XnXsRe286VLUpqRn2b0cOJDp_DuCMKP4" class="btn mr-lg-2 custom-btn"><i class='uil uil-file-alt'></i> Download Resume</a>
                          <a href="#contact" class="btn custom-btn custom-btn-bg custom-btn-link">Get a free quote</a>
                        </div>
                    </div>
                </div> 

                <div class="col-lg-5 col-md-12 col-12">          
                    <div class="about-image svg">
                        <img src="{% static 'website/images/undraw/undraw_software.svg' %}" class="img-fluid" alt="svg image">
                    </div>
                </div>

            </div>
        </div>
    </section>
    
    <!-- PROJECTS -->
    <section class="project py-5" id="project">
        <div class="container">
                
                <div class="row">
                  <div class="col-lg-11 text-center mx-auto col-12">

                      <div class="col-lg-8 mx-auto">
                        <h2>Projects</h2>
                      </div>

                      <div class="owl-carousel"> 
                        <div class="item">
                          <div class="project-info">
                            <img src="{% static 'website/images/project/project-image01.png' %}" class="img-fluid" alt="project image">
                          </div>
                        </div>

                        <div class="item">
                          <div class="project-info">
                            <img src="{% static 'website/images/project/project-image02.png' %}" class="img-fluid" alt="project image">
                          </div>
                        </div>

                        <div class="item">
                          <div class="project-info">
                            <img src="{% static 'website/images/project/project-image03.png' %}" class="img-fluid" alt="project image">
                          </div>
                        </div>

                        <div class="item">
                          <div class="project-info">
                            <img src="{% static 'website/images/project/project-image04.png' %}" class="img-fluid" alt="project image">
                          </div>
                        </div>

                        <div class="item">
                          <div class="project-info">
                            <img src="{% static 'website/images/project/project-image05.png' %}" class="img-fluid" alt="project image">
                          </div>
                        </div>
                      </div>

                  </div>
                </div>
        </div>
    </section>

    <!-- FEATURES -->
    <section class="resume py-5 d-lg-flex justify-content-center align-items-center" id="resume">
        <div class="container">
            <div class="row">
              <!--Update the work experience section-->
                <div class="col-lg-6 col-12">
                  <h2 class="mb-4">Work Experience</h2>

                    <div class="timeline">
                        <div class="timeline-wrapper">
                             <div class="timeline-yr">
                                  <span>2022</span>
                             </div>
                             <div class="timeline-info">
                                  <h3><span>Python Developer</span><small>Troy Global LLC</small></h3>
                                  <p>•Improved user engagement by 40% through integration of server-side logic.
                                    •	Optimized application deployment process in collaboration with the DevOps team, resulting in a 25% reduction in deployment time and increased application reliability.
                                    •	Enhanced application performance with advanced algorithms and data structures, leading to a 30% decrease in user load time.
                                    •	Strengthened system functionality and interoperability by integrating Python with databases, web frameworks, APIs, and third-party services.
                                    </p>
                             </div>
                        </div>

                        <div class="timeline-wrapper">
                            <div class="timeline-yr">
                                <span>2021</span>
                            </div>
                            <div class="timeline-info">
                                <h3><span>Junior FullStack Developer</span><small>Pacific Holdings Limited</small></h3>
                                <p>•	Developed server-side logic and API endpoints using Django, improving the application's functionality.
                                  •	Collaborated with the SRE Team to transition to a container-based deployment model, enhancing deployment efficiency.
                                  •	Optimized database schemas and queries for improved data storage and retrieval performance.
                                  •	Revamped the company website, leading to a significant 30% increase in user engagement.
                                  •	Implemented code restructuring techniques resulting in a remarkable 15% reduction in page load time, boosting user engagement.
                                  </p>
                            </div>
                        </div>
                        <div class="timeline-wrapper">
                          <div class="timeline-yr">
                              <span>2020</span>
                          </div>
                          <div class="timeline-info">
                              <h3><span>ENR Audit Intern</span><small>KPMG</small></h3>
                              <p>•	Corrected 15+ inaccuracies in corporate records, ensuring regulatory compliance and accuracy.
                                •	Collaborated with cross-functional teams to recover over $10K in erroneous transactions by analyzing bank statements.
                                •	Streamlined audit process, reducing turnaround time by 30% while maintaining high accuracy.
                                </p>
                          </div>
                      </div>
                      <div class="timeline-wrapper">
                        <div class="timeline-yr">
                            <span>2019</span>
                        </div>
                        <div class="timeline-info">
                            <h3><span>Data Analyst Intern</span><small>iSource intelligence</small></h3>
                            <p>•	Developed and executed a comprehensive data management strategy, resulting in a 30% increase in data accuracy and efficiency.
                              •	Collaborated with cross-functional teams to design and implement automated reporting tools, reducing manual labour by 25 hours per week.
                              •	Conducted extensive market research, and identified key trends and patterns, resulting in the implementation of targeted marketing campaigns that increased customer engagement by 20%.
                              </p>
                        </div>
                    </div>

                    </div>
                </div>
                <!--Update Education section-->
                <div class="col-lg-6 col-12">
                  <h2 class="mb-4 mobile-mt-2">Education</h2>

                    <div class="timeline">
                        <div class="timeline-wrapper">
                             <div class="timeline-yr">
                                  <span>2020</span>
                             </div>
                             <div class="timeline-info">
                                  <h3><span>Relevant Coursework</span>
                                  <p>Multivariable Calculus,  Full stack developer Nanodegree - Udemy, Python Developer Nanodegree Udemy, React Developer - ZeroToMastery, Software Engineer Nanodegree - Udemy</p>
                             </div>
                        </div>

                        <div class="timeline-wrapper">
                            <div class="timeline-yr">
                                <span>2018</span>
                            </div>
                            <div class="timeline-info">
                                <h3><span>Actuarial Science</span><small>University of Lagos</small></h3>
                                <p> BSC. Degree</p>
                            </div>
                        </div>

                    </div>
                </div>
                
            </div>
        </div>
    </section>

    <!--Update Contact Section-->
    <!-- CONTACT -->
    <section class="contact py-5" id="contact">
      <div class="container">
        <div class="row">
          
          <div class="col-lg-5 mr-lg-5 col-12">
            <div class="google-map w-100">
              <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d507284.7792369922!2d2.8864876583586625!3d6.626748800000019!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x103b9178aff5042f%3A0x32aa76828d787354!2sDiamond%20Estate!5e0!3m2!1sen!2sng!4v1667923334690!5m2!1sen!2sng" width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>

            <div class="contact-info d-flex justify-content-between align-items-center py-4 px-lg-5">
                <div class="contact-info-item">
                  <h3 class="mb-3 text-white">Get in touch</h3>
                </div>
                  <!--Update Github link -->
                <ul class="social-links">
                     <li><a href="https://www.github.com/devcamtude" class="uil uil-github" data-toggle="tooltip" data-placement="left" title="github"></a></li>
                     <li><a href="https://www.instagram.com/devcamtude" class="uil uil-instagram" data-toggle="tooltip" data-placement="left" title="Instagram"></a></li>
                     <li><a href="https://youtube.com/channel/UC0W9ePd2cMrYbB1ZgSS-YYg" class="uil uil-youtube" data-toggle="tooltip" data-placement="left" title="Youtube"></a></li>
                </ul>
            </div>
          </div>

          <div class="col-lg-6 col-12">
            <div class="contact-form">
              <h2 class="mb-4">Interested to work together? Let's talk</h2>

              <form action="" method="POST">
                {%csrf_token%}
                <div class="row">
                  <div class="col-lg-6 col-12">
                    <input type="text" class="form-control" name="name" placeholder="Your Name" id="name">
                  </div>

                  <div class="col-lg-6 col-12">
                    <input type="email" class="form-control" name="email" placeholder="Email" id="email">
                  </div>

                  <div class="col-12">
                    <textarea name="message" rows="6" class="form-control" id="message" placeholder="Message"></textarea>
                  </div>

                  <div class="ml-lg-auto col-lg-5 col-12">
                    <input type="submit" class="form-control submit-btn" value="Send Button">
                  </div>
                </div>
              </form>
            </div>
          </div>

        </div>
      </div>
    </section>
 
    <!-- FOOTER -->
     <footer class="footer py-5">
          <div class="container">
               <div class="row">

                    <div class="col-lg-12 col-12">                                
                        <p class="copyright-text text-center">Copyright &copy; 2023 Devcamtude . All rights reserved</p>
                    </div>
                    
               </div>
          </div>
     </footer>

    <script src="{% static 'website/js/jquery-3.3.1.min.js' %}"></script>  
    <script src="{% static 'website/js/popper.min.js' %}"></script>
    <script src="{% static 'website/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'website/js/Headroom.js' %}"></script>
    <script src="{% static 'website/js/jQuery.headroom.js' %}"></script>
    <script src="{% static 'website/js/owl.carousel.min.js' %}"></script>
    <script src="{% static 'website/js/smoothscroll.js' %}"></script>
    <script src="{% static 'website/js/custom.js' %}"></script>

  </body>
</html>